*,
::before,
::after {
  padding: o;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #5e548e !important;
}

.container {
  width: 40rem !important;
  height: min-content;
  position: relative;
  overflow: hidden;
}

.timer-container {
  width: 100%;
  height: min-content;
  /* border: 1px solid red; */
  display: grid;
  justify-content: stretch;
  justify-items: center;
}

.time {
  box-shadow: 0 0rem 2rem #00000035;
  border-radius: 1rem;
  background-color: #ffffff25;
  backdrop-filter: blur(10px);
  padding: 2rem 6rem;
}

.btn-group {
  width: 100%;
}

button {
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 33%;
}
button:hover {
  background-color: #3a3458 !important;
}

button i {
  font-size: 2.4rem;
}

.bg-icon {
  position: absolute;
  top: -9rem;
  left: -7rem;
  font-size: 20rem;
  color: #5e548e25;
  transform: rotate(-25deg);
}

span {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}
